* {
  padding: 0;
  box-sizing: border-box;
}

.js-right-list {
  font-size: 24px;
  font-weight: bold;
  list-style-type: none;
}
.container {
  // list-style-type: none;
  background-color: #fabada;
  margin-bottom: 20px;
}
.title {
  margin-top: 5px;
}
.main {
  display: flex;
}
.left-section {
  width: 50vw;
}
.right-section {
  width: 50vw;
  order: 2;
}
.change-color {
  background-color: red;
}
