<!DOCTYPE html>
<html lang="es">

<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1" />
  <title>Buscador de series</title>
  <link rel="stylesheet" href="./assets/css/main.css" />
</head>

<body>
  <main class="main">
    <section class="left-section">
      <h1>Buscador de series</h1>
      <input class="js-input" type="text" name="" id="">
      <input class="js-btn" type="submit" value="Buscar">
      <button class="js-log">LOG</button>
      <h3 class=>Mis series favoritas</h3>
      <ul class="js-left-list left-list"></ul>
    </section>
    <section class="right-section">
      <ul class="js-right-list right-list"></ul>
    </section>
  </main>
  <script type="text/javascript" src="./assets/js/main.js"></script>
</body>

</html>